main {
  padding: 10px 5%;
}
.create__table input {
  width: 90%;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 3px;
  border: 2px solid #ddd; 
  box-sizing: border-box;
}
.create__table textarea {
  resize:none;
  width: 90%;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 3px;
  border: 2px solid #ddd; 
  box-sizing: border-box;
}
.search__input{
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 3px;
  border: 2px solid #ddd;
  box-sizing: border-box;
}

.btn {
  border: #000 2px solid;
  color: #fff;
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
  transition: .3s;

}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.container {
  padding: 20px;
  padding-top: 0;
  margin: 10px 0;
  text-align: center;
}

.container-title {
  color: #000;
  padding: 0.5em 0;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
  margin-bottom: 20px;
  width: 500px;
  margin: 0 auto 20px auto;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto 10px;
}

.pf__card {
  width: 200px;
  height: 200px;
  border: #ccc 1px solid;
  border-radius: 10px;
  box-shadow: 0 5px 0 #ccc;
  margin: 0 10px 20px;
}

.pf__card:hover {
  position: relative;
  top: 5px;
  box-shadow: none;
}

.cp__card {
  width: 200px;
  border: #ccc 1px solid;
  border-radius: 10px;
  box-shadow: 0 5px 0 #ccc;
  margin: 0 10px 20px;
}

.cp__card:hover {
  position: relative;
  top: 5px;
  box-shadow: none;
}

.pf__card a,
.cp__card a{
  color: #000;
}

.pf__card-main,
.cp__card-main {
  position: relative;
}

.pf__card-main img,
.cp__card-main img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.cp__card-main h3 {
  margin: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.pf__card-main span,
.cp__card-main span {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  box-sizing: border-box;
  width: 160px;
  height: 110px;
  text-align: center;
}

.pf__card-main h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.pf__card-content{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pf__card-date {
  text-align: center;
  margin-top: 10px;
}

.pf__img {
  width: 80%;
  max-width: 800px;
  height: auto;
  max-width: 400px;
  margin: 20px auto 0;
}
.pf__img img {
  width: 100%;
  height: 100%;
}

.main__btn {
  border: #000 2px solid;
  color: #000;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  transition: .5s;
}

.main__btn:hover {
  background-color: #000;
  color: #fff;
}

.main__input {
  font-size: 15px;
  padding: 10px;
  border: #ccc 1px solid;
}

.container2 {
  padding: 20px;
  padding-top: 0;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  height: auto;
}

.container3 {
  width: 45%;
  border: #ccc 1px solid;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  white-space: normal;
  overflow-wrap: break-word;
}
.container3 p {
  text-align: left;
  margin-top: 20px;
}

.container__text {
  text-align: left;
  width: 90%;
  margin: 10px 5% 0 5%;
}

.container-content {
  text-align: center;
  width: 30%;
  margin: 0 35% 20px;
}

.main__table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  margin: 20px 5%;
}

.main__table tr {
  border-bottom: solid 1px #ccc;
}
.main__table th,
.main__table td {
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.main__table td select {
  padding: 5px;
  width: 150px;
  text-align: center;
}

.container-cp-title {
  color: #000;
  padding: 5px 0;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
  margin-bottom: 20px;
  width: 500px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0 10px 0 0;
}

.heart-btn img {
  width: 20px;
  height: 20px;
}

.reserve {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reserve-card {
  height: 200px;
  width: 600px;
  margin: 10px;
  border: #ccc solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reserve-card-img {
  height: 100%;
}

.reserve-card-img img {
  height: 100%;
}

.reserve-card-content{
  width: 50%;
  margin: 10px;
}

.reserve-card-content h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.reserve-card-content form {
  width: 100%;
  height: 100%;
}

.reserve-card-button {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.container h3 {
  margin-bottom: 10px;
}

.reserve-card-button p {
  font-size: larger;
}

.reserve-card-button h4 {
  font-size: large;
}

.reservation-title {
  font-size: large;
  margin-top: 20px;
}
.reserve-pf-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 250px;
  margin: auto;
}
.card-button {
  border: #000 2px solid;
  color: #000;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 10px 0 10px;
}
.owner__cp {
  width: 90%;
  margin: 0 5%;
}
.owner__cp-text {
  width: 50%;
  margin: 0 auto;
}
.owner__cp-text *{
  margin: 20px;
}
.owner__cp-text form {
  margin: 0;
}

.button__list {
  display: flex;
  justify-content: center;
}

.button__list form {
  margin: 10px;
}

.button__list button {
  width: 110px;
  border: #000 2px solid;
  color: #fff;
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.admin__menu {
  list-style-type: none !important
}
.admin__menu li {
  margin-bottom: 10px;
}
.date__list tr {
  border-bottom: none;
}
.reserve__btn {
  border: #000 2px solid;
  color: #000;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: .5s;
}
.reserve__btn:hover {
  background-color: #000;
  color: #fff;
}
.reserve__list {
  width: 100%;
  border-collapse: collapse;
}
.reserve__list tr {
  border-bottom: 1px solid #ccc;
}
.reserve__list th,
.reserve__list td {
  padding: 10px;
}
.reserve__list th:first-child,
.reserve__list td:first-child {
  width: 100px;
  text-align: center;
}

.reserve-img {
  height: 300px;
}

.reserve-img img{
height: 100%;
}

@media screen and (max-width : 480px) {
  .container-title {
    width: 50%;
  }

  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    overflow-x: auto;
    width: auto;
  }

  .pf__card,
  .cp__card {
    width: 120px;
    height: auto;
    padding-bottom: 10px;
  }

  .pf__card-main span,
  .cp__card-main span {
    top: 5px;
    left: 5px;
    width: 110px;
    height: 70px;
  }
  .cp__card-main h3 {
    font-size: small;
  }
  .pf__card-main h3 {
    padding-top: 10px;
    margin-bottom: 0;
    font-size: small;
  }
  .pf__card-main p{
    font-size: x-small;
  }
  .pf__card-date p{
    font-size: smaller;
  }
  .main__btn {
    padding: 5px;
  }
  .container2 {
    display: block;
  }
  .container3 {
    width: 90%;
    margin-bottom: 20px;
  }

  .container-content {
    width: auto;
    margin: 0 0 20px;
  }

  .main__table th,
  .main__table td {
    font-size: smaller;
    width: auto;
  }

  .reserve-card {
    width: 300px;
    height: 100px;
    margin: 0 0 10px;
  }

  .owner__cp-text *{
    font-size: smaller;
  }

  .owner__cp-img {
    width: 90%;
  }
  .owner__cp-img img{
    width: 100%;
  }

  .owner__cp-text {
    width: 100%;
  }

  .reserve {
    width: 300px;
  }

  .container-cp-title{
    width: 50%;
  }

  .button__list button{
    width: auto;
    padding: 5px;
  }
  .reserve-card-content {
    font-size: smaller;
    margin: 0;
  }

  .reserve-card-content h4 {
    margin-bottom: 0;
  }
  
  .reserve-card-button {
    margin: 0;
  }
  .reserve-card-button p {
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .reserve-card-button h4 {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .reserve-img {
    height: 150px;
  }

  .card-button {
    padding: 5px;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-buttons{
    width: 200px;
  }

  .btn {
    font-size: 12px;
  }
}