body {
  background-color: #e1e4ee;
}

main {
  padding: 10px 5%;
}

.container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 10px 0;
  z-index: -10;
}

.container-title {
  background-color: #00999F;
  color: #fff;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  width: 30%;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.container-card {
  position: relative;
  width: 22.5%;
  margin: 20px 1% 0px 1%;
  border: solid 1px #81D2E4;
  border-radius: 15px;
  box-shadow: 5px 5px 3px #81D2E4;
  background-color: #fff;
}

.container-card:hover {
  position: relative;
  top: 5px;
  left: 5px;
  box-shadow: 0px 0px 0px #81D2E4;
}

.card-img {
  width: 100%;
}

.card-img img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.pf-card-com {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00999F;
  color: #fff;
  padding: 5px;
  font-size: 20px;
  border-radius: 15px 0 0 0;
}
.performance {
  display: flex;
  justify-content: space-between;
}

.card-detail {
  width: 45%;
  background-color: #fff;
  margin: 20px 1% 0px 1%;
  border-radius: 15px;
}

.detail-table {
  margin: 10px;
  border-collapse: separate;
  border-spacing: 7px;
}

.detail-table th {
  width: 20%;
}

.pf-reservation {
  background-color: #fff;
  width: 45%;
  margin: 20px 1% 0px 1%;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.pf-reservation-title {
  background-color: #00999F;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  margin: 20px 0;
}

.pf-reservation-btn {
  background-color: #00999F;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  margin: 20px;
}

.pf-reservation-detail {
  margin: 0 20%;
  text-align: center;
}

.pf-reservation-map {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 ratio */
  height: 0;
  overflow: hidden;
}

.pf-reservation-map iframe,
.pf-reservation-map #map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.pf-card-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;

}

.pf-card-content p {
  margin-bottom: 5px;
}

.com-card-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.com-card-content p {
  margin-bottom: 5px;
}


.delete-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.delete-btn img {
  display: block;
  width: 24px;
  height: 24px;
}

.reserve-comfirm {
  width: 80%;
  margin: 20px 10%;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}

.reserve-comfirm input {
  background-color: #00999F;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.reserve-comfirm-info {
  margin: 10px auto;
  border-collapse: separate;
  border-spacing: 7px;
}

.reserve {
  background-color: #fff;
}

.reserve-cards {
  display: flex;
  margin-bottom: 30px;
}

.reserve-card {
  position: relative;
  width: 22.5%;
  margin: 20px 1% 0px 1%;
  padding-bottom: 10px;
  border: solid 1px #81D2E4;
  border-radius: 15px;
  box-shadow: 5px 5px 3px #81D2E4;
  background-color: #fff;
  text-align: center;
}

.fav-btn {
  width: 30px;
}
.fav-btn img {
  width: 100%;
}
.fav-btn button{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
